$btn-height: 2.5rem;

.btn {
  height: $btn-height;
}

.btn-link {
  height: auto;

  &.btn-link-u {
    text-decoration: underline;
    text-transform: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}
