$gray-200: #e9ecef;
$spacer: 8px;
$color-kraft: hsla(29, 36%, 64%, 1);
$color-vert-valide: #077432;
$color-gris: hsla(60, 1%, 23%, 1);
$white:    #fff;
$alabaster: #fafafa;
$gray-nickel: #c3c3c2;
$indian-khaki: #c4a181;
$mercury: #e5e5e5;
$gris-clair: #6a6a6a;

$screen-sm: 768px;
$screen-md: 1025px;
$screen-lg: 1200px;

.fill-white {
  fill: $white;
}

.fill-kraft {
  fill: $color-kraft;
}

.fill-color-gris {
  fill: $color-gris;
}
