<!--Section: Block Content-->
<template name="basket-details-page">
  <div class="basket-details-page">
    <navigation-bar class="py-3" :cart="cart" @search-keyword="searchBooksBy" />
    <div class="container my-3 basket-details">
      <loader
        v-if="loading"
        class="mt-5 loader"
        :fill="'hsla(29, 36%, 64%, 1)'"
      />
      <template v-else>
        <div
          v-if="cart.length"
          class="d-flex justify-content-between flex-column flex-md-row"
        >
          <basket-items :items="cart" @delete-item="onDeleteItem" />
          <cart-summary
            :price-before-discount="priceBeforeDiscount"
            :best-offer="discountedPrice"
          />
        </div>
        <basket-empty v-else />
      </template>
    </div>
  </div>
</template>
<!--Section: Block Content-->

<script>
import { mapActions, mapGetters, mapMutations } from "vuex";

import { getBooksIsbn } from "@/helpers/books";
import { getBestPriceAfterDiscount, getTotalPrice } from "@/helpers/cart";

import BasketItems from "@/components/organisms/BasketItems.vue";
import BasketEmpty from "@/components/molecules/BasketEmpty.vue";
import Loader from "@/components/atoms/Loader.vue";
import NavigationBar from "@/components/organisms/NavigationBar.vue";
import CartSummary from "@/components/organisms/CartSummary.vue";

export default {
  name: "BasketDetailsPage",
  components: {
    BasketItems,
    BasketEmpty,
    Loader,
    NavigationBar,
    CartSummary
  },
  data() {
    return {
      loading: true
    };
  },
  computed: {
    ...mapGetters({
      cart: "cart/cart",
      priceBeforeDiscount: "cart/priceBeforeDiscount",
      discountedPrice: "cart/discountedPrice",
      commercialOffers: "books/commercialOffers"
    })
  },
  methods: {
    ...mapActions({
      getCart: "cart/getCart",
      deleteFromCart: "cart/deleteItem",
      getCommercialOffers: "books/getCommercialOffers"
    }),
    ...mapMutations({
      setCart: "cart/SET_CART",
      setPriceBeforeDiscount: "cart/SET_PRICE_BEFORE_DISCOUNT",
      setDiscountedPrice: "cart/SET_DISCOUNTED_PRICE",
      setCommercialOffers: "books/SET_COMMERCIAL_OFFERS"
    }),
    searchBooksBy(keyword) {
      this.$router.push({ path: "/", query: { search: keyword } });
    },
    onDeleteItem(item) {
      this.deleteFromCart(item);
      const bookRefs = getBooksIsbn(this.cart);
      this.getCommercialOffers(bookRefs).then(offers => {
        if (!offers.length) return;
        const discountedPrice = getBestPriceAfterDiscount(
          offers,
          this.priceBeforeDiscount
        );
        this.setDiscountedPrice(discountedPrice);
        this.setCommercialOffers(offers);
      });
    }
  },
  mounted() {
    this.getCart()
      .then(cart => {
        this.setCart(cart);
        const basePrice = getTotalPrice(cart);
        this.setPriceBeforeDiscount(basePrice);
      })
      .then(() => {
        const bookRefs = getBooksIsbn(this.cart);
        return this.getCommercialOffers(bookRefs);
      })
      .then(offers => {
        if (!offers.length) return;
        const discountedPrice = getBestPriceAfterDiscount(
          offers,
          this.priceBeforeDiscount
        );
        this.setDiscountedPrice(discountedPrice);
        this.setCommercialOffers(offers);
      })
      .finally(() => {
        this.loading = false;
      });
  }
};
</script>

<style lang="scss" scoped>
.basket-details {
  background-color: $white;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
