<template name="books-page">
  <div class="books-page">
    <navigation-bar
      class="py-3"
      :cart="cart"
      :search-value="keyword"
      @search-keyword="searchBooksBy"
    />
    <loader
      class="mt-5 loader"
      v-if="loading"
      :fill="'hsla(29, 36%, 64%, 1)'"
    />
    <div v-else>
      <books
        v-if="books.length"
        :books="books"
        @add-item="addToCart"
        @delete-item="deleteFromCart"
      />
      <book-not-found v-else class="not-found" />
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

import { getTotalPrice } from "@/helpers/cart";

import Books from "@/components/organisms/Books.vue";
import BookNotFound from "@/components/molecules/BookNotFound.vue";
import Loader from "@/components/atoms/Loader";
import NavigationBar from "@/components/organisms/NavigationBar.vue";

export default {
  components: {
    Books,
    Loader,
    NavigationBar,
    BookNotFound
  },
  data() {
    return {
      books: [],
      loading: true,
      keyword: ""
    };
  },
  computed: {
    ...mapGetters({
      cart: "cart/cart"
    })
  },
  methods: {
    ...mapActions({
      filterBooksBy: "books/filterBooksBy",
      deleteFromCart: "cart/deleteItem"
    }),
    ...mapMutations({
      setBooks: "books/SET_BOOKS",
      setCart: "cart/SET_CART",
      setPriceBeforeDiscount: "cart/SET_PRICE_BEFORE_DISCOUNT"
    }),
    addToCart(book) {
      const currentCart = [...this.cart];
      const cart = [...currentCart, book];
      this.setCart(cart);
      const basePrice = getTotalPrice(cart);
      this.setPriceBeforeDiscount(basePrice);
    },
    searchBooksBy(keyword) {
      this.loading = true;
      this.filterBooksBy(keyword)
        .then(books => {
          this.books = books;
          this.setBooks(books);
          this.loading = false;
        })
        .catch(e => {
          this.loading = false;
          this.books = [];
          this.setBooks([]);
          console.log(e, "e");
        });
    }
  },
  mounted() {
    this.keyword = this.$route.query.search || "";
    this.searchBooksBy(this.keyword);
  }
};
</script>

<style lang="scss" scoped>
.loader,
.not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
