<template name="book-detail">
  <div class="book-detail">
    <navigation-bar class="py-3" :cart="cart" @search-keyword="searchBooksBy" />
    <loader
      v-if="loading"
      class="mt-5 loader"
      :fill="'hsla(29, 36%, 64%, 1)'"
    />
    <book-detail
      v-else
      :book="book"
      :is-added-to-cart="isBookAddedToCart"
      @add-item="addToCart"
      @delete-item="deleteFromCart"
    />
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from "vuex";

import BookDetail from "@/components/organisms/BookDetail.vue";
import Loader from "@/components/atoms/Loader.vue";
import NavigationBar from "@/components/organisms/NavigationBar.vue";

export default {
  name: "BookDetailPage",
  components: {
    BookDetail,
    Loader,
    NavigationBar
  },
  data() {
    return {
      book: null,
      loading: true
    };
  },
  computed: {
    ...mapGetters({
      cart: "cart/cart"
    }),
    isBookAddedToCart() {
      return this.cart.some(item => item.isbn === this.book.isbn);
    }
  },
  methods: {
    ...mapActions({
      filterBooksBy: "books/filterBooksBy",
      deleteFromCart: "cart/deleteItem"
    }),
    ...mapMutations({
      setCart: "cart/SET_CART"
    }),
    addToCart(book) {
      const currentCart = [...this.cart];
      const cart = [...currentCart, book];
      this.setCart(cart);
    },
    searchBooksBy(keyword) {
      this.$router.push({ path: "/", query: { search: keyword } });
    }
  },
  mounted() {
    this.filterBooksBy("")
      .then(books => {
        this.book = books.find(book => book.isbn === this.$route.params.id);
        this.loading = false;
      })
      .catch(e => {
        this.loading = false;
        this.book = null;
        console.log(e, "error");
      });
  }
};
</script>

<style lang="scss" scoped>
.btn-primary {
  background-color: $color-gris;
  border-color: $color-gris;
  bottom: 0;
}

img {
  max-width: 100%;
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
