<template name="loader">
  <div v-show="show" class="loader">
    <svg
      :style="{ fill }"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 34.87 10.28"
    >
      <path
        class="dot-1"
        d="M15.48,1.07A3.5,3.5,0,0,0,14,3.25a5.38,5.38,0,0,0,1.06,
           5A4.55,4.55,0,0,0,21,8.73,4.62,4.62,0,0,0,22.08,3a4.68,4.68,0,0,0-5.57-2"
      />
      <path
        class="dot-2"
        d="M28.94,1.07a3.5,3.5,0,0,0-1.46,2.18,5.38,5.38,0,0,0,1.06,
           5,4.55,4.55,0,0,0,5.89.48A4.62,4.62,0,0,0,35.55,3,4.68,4.68,0,0,0,30,1"
      />
      <path
        class="dot-3"
        d="M2.31,1.07A3.5,3.5,0,0,0,.85,3.25a5.38,5.38,0,0,0,1.06,
           5,4.55,4.55,0,0,0,5.89.48A4.62,4.62,0,0,0,8.91,3,4.68,4.68,0,0,0,3.34,1"
      />
    </svg>
  </div>
</template>

<script>
export default {
  name: "Loader",
  props: {
    fill: {
      type: String,
      default: "#3c3c3b"
    },
    show: {
      type: Boolean,
      default: true
    }
  }
};
</script>

<style lang="scss" scoped>
.loader {
  height: 2vh;
  overflow: visible;
  text-align: center;

  svg {
    display: inline-block;
    height: 100%;
    overflow: visible;
    text-align: center;
    width: 100%;
  }

  [class*="dot-"] {
    animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    display: inline-block;
    transform-origin: center;
  }

  .dot-1 {
    animation-delay: 0s;
  }

  .dot-2 {
    animation-delay: 0.2s;
  }

  .dot-3 {
    animation-delay: -0.2s;
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.3);
  }
}
</style>
