<template name="poitier-button">
  <button type="button" class="btn btn-link d-flex p-0" @click="$emit('click')">
    <svg-icon size="24" class="icon pb-1" :name="image" />
    <span v-text="label" class="text-capitalize action-text mx-2" />
  </button>
</template>

<script>
import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "PoitierButton",
  components: {
    SvgIcon
  },
  props: {
    image: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.icon {
  fill: $gris-clair;
}

.action-text {
  color: $gris-clair;
  @include fontSize(14px);
}
</style>
