<template name="basket-empty">
  <div class="py-3 basket-empty text-center">
    <svg-icon name="basket-empty" width="120" height="120" class="fill-kraft" />
    <p class="mt-5 font-weight-semi-bold" v-text="'Panier vide'" />
  </div>
</template>

<script>
import "@/assets/icon/svg/basket-empty.svg";

import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "BasketEmpty",
  components: {
    SvgIcon
  }
};
</script>
