<template name="book-not-found">
  <div class="book-not-found text-center">
    <svg-icon name="not-found" width="120" height="120" class="fill-kraft" />
    <p class="mt-5 font-weight-semi-bold" v-text="'Livre introuvable'" />
  </div>
</template>

<script>
import "@/assets/icon/svg/not-found.svg";

import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "BookNotFound",
  components: {
    SvgIcon
  }
};
</script>
