<template name="product-item">
  <div class="card book-item" @click="goToBookDetail(book.isbn)">
    <img class="card-img-top" :src="book.cover" :alt="book.title" />
    <div class="card-body text-center">
      <h5 class="card-title" v-text="book.title" />
      <p class="card-text mb-0 h-50" v-text="truncatedSynopsis" />
    </div>
    <div
      class="pt-3 price-section d-flex align-items-center justify-content-between"
    >
      <p class="card-text ml-2">
        <span class="price-label d-inline-flex mr-2 mt-3" v-text="'Prix : '" />
        <span class="text-left price-value" v-text="book.price.formatted" />
      </p>
      <div class="p-3 text-center">
        <svg-icon
          v-if="isAddedToCart"
          name="delete"
          size="32"
          class="fill-kraft mr-2"
          @click.stop="$emit('delete-item', book)"
        />
        <svg-icon
          v-else
          name="basket"
          size="32"
          class="fill-kraft mr-2"
          @click.stop="$emit('add-item', book)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/icon/svg/delete.svg";
import "@/assets/icon/svg/basket.svg";

import { truncateText } from "@/helpers/books";

import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "ProductItem",
  components: {
    SvgIcon
  },
  props: {
    book: {
      type: Object,
      required: true
    },
    isAddedToCart: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    truncatedSynopsis() {
      return truncateText(this.book.synopsis, 100);
    }
  },
  methods: {
    goToBookDetail(id) {
      this.$router.push({ path: `/books/${id}` });
    }
  }
};
</script>

<style lang="scss" scoped>
.book-item {
  &:hover {
    cursor: pointer;
    border: 1px solid $gris-clair;
  }
}
.btn-primary {
  background-color: $color-gris;
  border-color: $color-gris;
  bottom: 0;
}

.card-text {
  .price-value {
    color: $color-vert-valide;
  }
}
</style>
