<template name="search-bar">
  <div class="search-bar">
    <div class="d-flex align-items-center navbar-nav my-2 my-lg-0">
      <input
        @input="onChangeKeyword"
        class="form-control mr-sm-2"
        type="text"
        :value="searchValue"
        placeholder="Rechercher un livre"
        aria-label="Search"
        @keyup.enter="$emit('search-keyword', keyword)"
      />
      <button
        class="btn btn-link my-2 my-sm-0"
        type="button"
        @click="$emit('search-keyword', keyword)"
      >
        <svg-icon name="loupe" width="24" height="24" class="fill-kraft" />
      </button>
    </div>
  </div>
</template>

<script>
import "@/assets/icon/svg/loupe.svg";

import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "SearchBar",
  components: {
    SvgIcon
  },
  props: {
    searchValue: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      keyword: null
    };
  },
  watch: {
    keyword: {
      handler() {
        if (!this.keyword) {
          this.$emit("search-keyword", "");
        }
      }
    }
  },
  methods: {
    onChangeKeyword(event) {
      this.keyword = event.target.value;
      if (!this.keyword) {
        this.$emit("search-keyword", "");
      }
    }
  }
};
</script>

<style lang="scss" scoped></style>
