<template name="basket-item">
  <div class="row d-flex align-items-center basket-item">
    <img :src="item.cover" class="col-4 col-md-2 py-3 product-img" />
    <div class="col-8 col-md-10 product-details">
      <div class="d-flex justify-content-between">
        <div class="description col-9">
          <h3
            href="#"
            class="h2 font-weight-normal title d-block"
            v-text="item.title"
          />
          <p>
            <span v-text="'N° ISBN'" class="d-block d-md-flex" />
            <span v-text="item.isbn" />
          </p>
          <b class="ref font-weight-normal mr-3" v-text="isbnFormatted" />
        </div>
        <p class="product-price col-3">
          <strong class="price" v-text="item.price.formatted" />
        </p>
      </div>
      <poitier-button
        class="mt-3"
        image="delete"
        label="Supprimer"
        @click="$emit('delete-item', item)"
      />
    </div>
  </div>
</template>

<script>
import "@/assets/icon/svg/delete.svg";

import PoitierButton from "@/components/atoms/PoitierButton.vue";

export default {
  name: "ProductBasket",
  components: {
    PoitierButton
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    isbnFormatted() {
      return `N° ISBN : ${this.item.isbn}`;
    }
  }
};
</script>

<style lang="scss" scoped>
.basket-item {
  border-bottom: 1px solid $gris-clair;
  .description {
    .title {
      @include fontSize(18px);
      color: $color-gris;
    }

    .ref {
      @include fontSize(10px);
    }

    .stock {
      @include fontSize(12px);
      color: $color-vert-valide;
    }
  }

  .price {
    color: $color-vert-valide;
  }
}
</style>
