<template name="basket-items">
  <div class="basket-items">
    <basket-item
      v-for="(item, index) in items"
      :item="item"
      :key="index"
      class="mt-3 py-2"
      @delete-item="$emit('delete-item', $event)"
    />
  </div>
</template>

<script>
import BasketItem from "@/components/organisms/BasketItem.vue";

export default {
  name: "BasketItems",
  components: {
    BasketItem
  },
  props: {
    items: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped></style>
