<template name="books">
  <div class="container mt-5 books-list">
    <div class="row">
      <div
        v-for="(book, index) in books"
        :key="index"
        class="col-xs-12 col-md-3 mb-4 d-flex flex-wrap"
      >
        <book-item
          :book="book"
          @add-item="$emit('add-item', $event)"
          @delete-item="$emit('delete-item', $event)"
          :is-added-to-cart="isBookAddedToCart(book)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import BookItem from "@/components/molecules/BookItem.vue";

export default {
  name: "Books",
  components: {
    BookItem
  },
  props: {
    books: {
      type: Array,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      cart: "cart/cart"
    })
  },
  methods: {
    isBookAddedToCart(book) {
      return this.cart.some(item => item.isbn === book.isbn);
    }
  }
};
</script>
