<template name="book-detail">
  <div class="container book-detail">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <img :src="book.cover" class="col-10 col-md-6" />
          <div class="details col-10 col-md-6">
            <h3 class="book-title" v-text="book.title" />
            <p class="book-synopsis" v-text="book.synopsis" />
            <h4 class="price">
              Prix: <span class="price-value" v-text="book.price.formatted" />
            </h4>
            <svg-icon
              v-if="isAddedToCart"
              name="delete"
              size="60"
              class="mr-2 mt-5 fill-kraft basket"
              @click="$emit('delete-item', book)"
            />
            <svg-icon
              v-if="!isAddedToCart"
              name="add-to-basket"
              size="60"
              class="mr-2 mt-5 fill-kraft basket"
              @click="$emit('add-item', book)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/icon/svg/add-to-basket.svg";
import "@/assets/icon/svg/delete.svg";
import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "BookDetail",
  components: {
    SvgIcon
  },
  props: {
    book: {
      type: Object,
      required: true
    },
    isAddedToCart: {
      type: Boolean,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.book-detail {
  .btn-primary {
    background-color: $color-gris;
    border-color: $color-gris;
    bottom: 0;
  }

  img {
    width: 30%;
  }

  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
  }

  .price-value {
    color: $color-vert-valide;
  }

  .basket {
    &:hover {
      cursor: pointer;
    }
  }
}
</style>
