<template name="cart-summary">
  <div class="container px-4 py-5">
    <div class="text-center mt-2">
      <div class="row d-flex justify-content-between px-4">
        <p class="mb-1 text-left" v-text="'Prix de base'" />
        <h6 class="mb-1 text-right" v-text="formattedPrices.beforeDiscount" />
      </div>
      <template v-if="bestOffer.type">
        <div class="row d-flex justify-content-between px-4">
          <p class="mb-1 text-left">
            <span v-text="'Meilleure promotion'" class="d-inline-flex" />
            <span class="ml-2 promotion-type" v-text="bestOffer.type" />
          </p>
          <h6 class="mb-1 text-right" v-text="formattedPrices.discounted" />
        </div>
        <div class="row d-flex justify-content-between px-4">
          <p class="mb-1 text-left" v-text="'Réduction de : '" />
          <h6 class="mb-1 text-right" v-text="formattedPrices.discount" />
        </div>
      </template>
      <p v-else class="mt-3 d-flex align-items-center justify-content-between">
        <span v-text="'Offre sans réduction'" />
        <svg-icon name="sad-emoji" size="32" class="fill-kraft" />
      </p>
      <div class="row d-flex justify-content-between px-4">
        <p class="mb-1 text-left" v-text="'Prix à payer'" />
        <h6 class="mb-1 text-right" v-text="formattedPrices.discounted" />
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/icon/svg/sad-emoji.svg";

import { formatPrice } from "@/helpers/cart";

import SvgIcon from "@/components/atoms/SvgIcon.vue";

export default {
  name: "CartSummary",
  components: {
    SvgIcon
  },
  props: {
    priceBeforeDiscount: {
      type: Number,
      required: true
    },
    bestOffer: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    formattedPrices() {
      return {
        beforeDiscount: formatPrice(this.priceBeforeDiscount),
        discounted: formatPrice(this.bestOffer.value),
        discount: formatPrice(
          (this.priceBeforeDiscount - this.bestOffer.value).toFixed(2)
        )
      };
    }
  }
};
</script>

<style lang="scss" scoped>
.promotion-type {
  color: $color-vert-valide;
}
</style>
