<template name="navigation-bar">
  <nav class="navbar navbar-expand navbar-light bg-light sticky-navbar">
    <div
      class="d-flex align-items-center collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <search-bar
            @search-keyword="$emit('search-keyword', $event)"
            :search-value="searchValue"
          />
        </li>
      </ul>
      <button
        rel="nofollow"
        class="d-flex flex-column-reverse flex-md-row btn btn-link link-spe icon-link"
        @click="goToBasket"
      >
        <svg-icon name="basket" size="32" class="basket" />
        <span v-if="cart.length" v-text="cart.length" class="total-cart" />
      </button>
    </div>
  </nav>
</template>

<script>
import "@/assets/icon/svg/basket.svg";

import SvgIcon from "@/components/atoms/SvgIcon.vue";
import SearchBar from "@/components/molecules/SearchBar.vue";

export default {
  name: "NavigationBar",
  components: {
    SearchBar,
    SvgIcon
  },
  props: {
    searchValue: {
      type: String,
      default: ""
    },
    cart: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    goToBasket() {
      const path = "/my-basket";
      this.$router.push({ path });
    }
  }
};
</script>

<style lang="scss" scoped>
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.basket {
  margin: 0 auto;
  position: relative;
  vertical-align: middle;
  fill: $color-kraft;

  @media (min-width: $screen-md) {
    margin: 0 auto;
  }
}

.total-cart {
  color: $color-gris;
}

span {
  height: calculateRem(14px);
  line-height: calculateRem(14px);
  text-transform: uppercase;

  @include fontSize(19px);
}
</style>
